/* base.css */

#nav a {
    font-size: 1.3em;
    margin: 0px 15px;
}

/***************************/
.header-section {
    color: red;
}

.filepath {
    width: 50%;
}

#auth-info, #ds-info {
    margin: 20px;
    height: 30px;
    width: auto;
    color: red;
    font-size: 1.3em;
    font-weight: bold;
}
