{% extends "base.html" %}

{% block custom_head_script %}
<script src="https://www.dropbox.com/static/api/1/dropins.js" 
        id="dropboxjs" 
        data-app-key="c5wk36o7hmtygwm">
</script>
<script src="/static/dropbox-dropin-chooser.js"></script>
{% endblock %}

{% block title %}
Dropbox Chooser Test
{% endblock %}

{% block content %}

<div id="div_db_chooser">
    <h2 class="header-section">Dropbox's own chooser button</h2>
    <form>
        <select name="select-db-chooser" id="select_db_chooser">
            <option value="false">Single</option>
            <option value="true" selected="selected">Multiple</option>
        </select><br /><br />
        <input type="dropbox-chooser" 
            name="selected-file" 
            id="db_chooser" 
            style="visibility: hidden;" 
            data-link-type="preview" 
            data-multiselect="true" />
    </form><br />
    <table id="table_db_chooser">
        <tr>
            <th>Name</th>
            <th>Preview Link</th>
            <th>Bytes</th>
            <th>Icon</th>
            <th>Thumbnail</th>
        </tr>
        <tr class="fileline">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div><hr />

<div id="div_std_chooser">
    <h2 class="header-section">HTML standard button</h2>
    <form>
        <input type="radio" name="linktype" id="radio1" value="preview" checked="checked">
        <label for="radio1">Preview Link</label><br />
        <input type="radio" name="linktype" id="radio2" value="direct">
        <label for="radio2">Direct Link</label>
    </form><br />
    <button  class="btn btn-primary" id="db_chooser_button">Click to choose file from Dropbox</button><br /><br />
    <table id="table_std_chooser">
        <tr>
            <th>Name</th>
            <th>Link</th>
            <th>Bytes</th>
        </tr>
        <tr class="fileline">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>

{% endblock %}

{% block custom_body_script %}
<script>
    $( document ).ready( onReady );
</script>
{% endblock %}