{% extends 'base.html' %}

{% block custom_head_script %}
<script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js"></script>
<script src="/static/dropbox-datastore.js"></script>
{% endblock %}

{% block title %}
Dropbox Datastore JavaScript Test
{% endblock %}

{% block content %}
<h1>Dropbox Datastore Test</h1>
<button class="btn btn-primary" id="button-auth">Click to link to your Dropbox account</button>
<button class="btn btn-primary" id="button-sign-out">Sign Out</button>
<button class="btn btn-primary" id="button-check-auth">Check Authentication Status</button>
<p id="auth-info"></p>
<hr />
<p id="ds-info"></p>
{% endblock %}

{% block custom_body_script %}
<script>
    $( document ).ready( onReady );
</script>
{% endblock %}