{% extends 'base.html' %}

{% block custom_head_script %}
<script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js"></script>
<script src="/static/dropbox-datastore.js"></script>
{% endblock %}

{% block title %}
Dropbox Datastore JavaScript Test
{% endblock %}

{% block content %}
<h1>Dropbox Datastore Test</h1>
<button id="btnAuth">Click to link to your Dropbox account</button>
<button id="btnSignout">Sign Out</button>
<button id="btnCheckAuth">Check Authentication Status</button>
{% endblock %}

{% block custom_body_script %}
<script>
    $( document ).ready( onReady );
</script>
{% endblock %}