{% extends "base.html" %}

{% block custom_head_script %}
<script src="https://www.dropbox.com/static/api/1/dropins.js" 
        id="dropboxjs" 
        data-app-key="ed8g4l0hstin27y">
</script>

<script src="https://www.dropbox.com/static/api/1/dropins.js" 
        id="dropboxjs" 
        data-app-key="c5wk36o7hmtygwm">
</script>
<script src="/static/dropbox-dropin.js"></script>
{% endblock %}

{% block title %}
Dropbox Saver / Chooser Test
{% endblock %}

{% block content %}
<div id="div-saver">
    <div id="div-db-saver">
        <h2 style="color:red;">Dropbox's own saver button</h2>
        <p>With URL (only one file)</p>
        <input type="text" class="filepath" style="width:50%;" />
        <a href="" class="dropbox-saver"></a>
        <p>With options (one or more files)</p>
        <input type="text" class="filepath" style="width:50%;" />
        <span id="programmatic"></span>
    </div><hr />

    <div id="div-std-saver">
        <h2 style="color:red;">HTML standard button</h2>
        <p>With URL and optional filename (only one file)</p>
        <input type="text" class="filepath" style="width:50%;" />
        <button class="btn btn-primary" id="db-saver-button-1">Save to Dropbox</button>
        <p>With options (one or more files)</p>
        <input type="text" class="filepath" style="width:50%;" />
        <button class="btn btn-primary" id="db-saver-button-2">Save to Dropbox</button>
    </div>
</div><hr />

<div id="div-chooser">
    <div id="div-db-chooser">
        <h2 style="color:red;">Dropbox's own chooser button</h2>
        <form>
            <select name="slt1" id="slt1">
                <option value="false">Single</option>
                <option value="true" selected="selected">Multiple</option>
            </select><br /><br />
            <input type="dropbox-chooser" 
                name="selected-file" 
                id="db-chooser" 
                style="visibility: hidden;" 
                data-link-type="preview" 
                data-multiselect="true" />
        </form><br />
        <table id="tbl1" border="1px">
            <tr>
                <th>Name</th>
                <th>Preview Link</th>
                <th>Bytes</th>
                <th>Icon</th>
                <th>Thumbnail</th>
            </tr>
            <tr class="fileline">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div><hr />

    <div id="div-std-chooser">
        <h2 style="color:red;">HTML standard button</h2>
        <form>
            <input type="radio" name="linktype" id="radio1" value="preview" checked="checked">
            <label for="radio1">Preview Link</label><br />
            <input type="radio" name="linktype" id="radio2" value="direct">
            <label for="radio2">Direct Link</label>
        </form><br />
        <button  class="btn btn-primary" id="db-chooser-button">Click to choose file from Dropbox</button><br /><br />
        <table id="tbl2" border="1px">
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>Bytes</th>
            </tr>
            <tr class="fileline">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block custom_body_script %}
<script>
    $( document ).ready( onReady );
</script>
{% endblock %}